/src/Identity/Identity.API/bin
/src/Identity/Identity.API/obj
/src/Identity/Identity.API/*.user
/src/Identity/Identity.UnitTests/bin
/src/Identity/Identity.UnitTests/obj
/src/Identity/.vs
/src/Catalog/.vs
/src/Catalog/Catalog.API/bin
/src/Catalog/Catalog.API/obj
/src/Catalog/Catalog.API/*.user
/src/Catalog/Catalog.UnitTests/obj
/src/Catalog/Catalog.UnitTests/bin
/src/Basket/.vs
/src/Basket/Basket.API/obj
/src/Basket/Basket.API/bin
/src/Basket/Basket.API/*.user
/src/Basket/Basket.UnitTests/obj
/src/Basket/Basket.UnitTests/bin
/src/Ordering/.vs
/src/Ordering/Ordering.API/obj
/src/Ordering/Ordering.API/bin
/src/Ordering/Ordering.API/*.user
/src/Ordering/Ordering.UnitTests/obj
/src/Ordering/Ordering.UnitTests/bin
/src/Payment/.vs
/src/Payment/Payment.API/obj
/src/Payment/Payment.API/bin
/src/Payment/Payment.API/*.user
/src/Payment/Payment.UnitTests/obj
/src/Payment/Payment.UnitTests/bin
/src/Notifications/Notifications.API/obj
/src/Notifications/Notifications.API/bin
/src/Notifications/Notifications.API/*.user
/src/Notifications/Notifications.UnitTests/obj
/src/Notifications/Notifications.UnitTests/bin
/src/Notifications/.vs
/src/Common/MessageBrokers.RabbitMQ/obj
/src/Common/MessageBrokers.RabbitMQ/.vs
/src/Common/MessageBrokers.RabbitMQ/bin
/src/Common/.vs
/src/Services/Identity/Identity.API/obj
/src/Services/Identity/Identity.API/bin
/src/Services/Identity/Identity.API/Migrations
/src/Services/Identity/.vs
/src/Services/Identity/Identity.UnitTests/obj
/src/Services/Identity/Identity.UnitTests/bin
/src/Common/Web.Middleware/obj
/src/Common/Web.Middleware/bin
/src/Services/Catalog/.vs
/src/Services/Catalog/Catalog.API/obj
/src/Services/Catalog/Catalog.API/bin
/src/Services/Catalog/Catalog.UnitTests/obj
/src/Services/Catalog/Catalog.UnitTests/bin
/src/Services/Catalog/Catalog.API/*.user
*.user
/src/Services/Identity/Identity.API/*.user
/src/Services/Catalog/bin
/src/Services/Catalog/obj
/src/UI/Mobile/MicroShopMobile/MicroShopMobile/MicroShopMobile/obj
/src/UI/Mobile/MicroShopMobile/MicroShopMobile/MicroShopMobile/bin
/src/UI/Mobile/MicroShopMobile/MicroShopMobile/MicroShopMobile.Android/obj
/src/UI/Mobile/MicroShopMobile/MicroShopMobile/MicroShopMobile.Android/bin
/src/UI/Mobile/MicroShopMobile/MicroShopMobile/MicroShopMobile.iOS/obj
/src/UI/Mobile/MicroShopMobile/MicroShopMobile/MicroShopMobile.iOS/bin
/src/UI/Mobile/MicroShopMobile/.vs
/src/Services/Basket/Basket.API/bin
/src/Services/Basket/Basket.API/obj
/src/Services/Basket/.vs
/src/Services/Basket/Basket.UnitTests/obj
/src/Services/Basket/Basket.UnitTests/bin
/src/ApiGateways/GenericApiGateway/obj
/src/ApiGateways/GenericApiGateway/bin
/src/ApiGateways/GenericApiGateway/.vs
/src/Common/MessageBrokers/.vs
/src/Common/MessageBrokers/bin
/src/Common/MessageBrokers/obj
/src/Services/Notifications/.vs
/src/Services/Notifications/Notifications.API/bin
/src/Services/Notifications/Notifications.API/obj
/src/Services/Notifications/Notifications.UnitTests/obj
/src/Services/Notifications/Notifications.UnitTests/bin
