/src/Identity/Identity.API/bin
/src/Identity/Identity.API/obj
/src/Identity/Identity.API/*.user
/src/Identity/Identity.UnitTests/bin
/src/Identity/Identity.UnitTests/obj
/src/Identity/.vs
/src/Catalog/.vs
/src/Catalog/Catalog.API/bin
/src/Catalog/Catalog.API/obj
/src/Catalog/Catalog.API/*.user
/src/Catalog/Catalog.UnitTests/obj
/src/Catalog/Catalog.UnitTests/bin
/src/Basket/.vs
/src/Basket/Basket.API/obj
/src/Basket/Basket.API/bin
/src/Basket/Basket.API/*.user
/src/Basket/Basket.UnitTests/obj
/src/Basket/Basket.UnitTests/bin
/src/Ordering/.vs
/src/Ordering/Ordering.API/obj
/src/Ordering/Ordering.API/bin
/src/Ordering/Ordering.API/*.user
/src/Ordering/Ordering.UnitTests/obj
/src/Ordering/Ordering.UnitTests/bin
/src/Payment/.vs
/src/Payment/Payment.API/obj
/src/Payment/Payment.API/bin
/src/Payment/Payment.API/*.user
/src/Payment/Payment.UnitTests/obj
/src/Payment/Payment.UnitTests/bin
/src/Notifications/Notifications.API/obj
/src/Notifications/Notifications.API/bin
/src/Notifications/Notifications.API/*.user
/src/Notifications/Notifications.UnitTests/obj
/src/Notifications/Notifications.UnitTests/bin
/src/Notifications/.vs
/src/Common/MessageBrokers.RabbitMQ/obj
/src/Common/MessageBrokers.RabbitMQ/.vs
/src/Common/MessageBrokers.RabbitMQ/bin
/src/Common/.vs
/src/Services/Identity/Identity.API/obj
/src/Services/Identity/Identity.API/bin
/src/Services/Identity/Identity.API/Migrations
/src/Services/Identity/.vs
/src/Services/Identity/Identity.UnitTests/obj
/src/Services/Identity/Identity.UnitTests/bin
